<%- include('./partials/header.ejs')%>
<main>
    <body>
        <div>
            <h3><%=error.status%> Error</h3> 
            <p><%= error.message%></p>
        </div>
    </body>
</main>
<%- include('./partials/footer.ejs') %>