:root {
    --clr-offwhite: #DFE6E3;
    --clr-black: #1E1F1E;
    --clr-white: #F7FFFC;
    --clr-grey: #7C807E;
    /* Fonts Size*/
    --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
  
  }

  /* Global Styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Solway", sans-serif;
    text-decoration: none;
  }
  
  html {
    font-size: 100%;
    height: 100%;
  }

  html body{
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /*Header Section*/
  header {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: .5rem 1rem;
  }

  header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .divnav{
    display: flex;
    align-items: center;
    width: 100%;
  }

  .divnav #logo{
    width: 100px;
    height: auto;
    flex-shrink: 0;
  }

  .divnav ul{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 0;
    justify-content: space-between;
    font-size: var(--fs-sm);
  }

  .divnav ul li{
    list-style: none;
    margin-right: 20px;
  }

  .divnav ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

  .divnav ul li a {
    color: var(--clr-white);
    font-weight: bold;
  }

  .divnav ul li a:hover{
    color: var(--clr-grey);
  }
  

  .divnav ul button {
    background-color: var(--clr-white);
    color: var(--clr-black);
    padding: 8px 16px;
    border: none;
    border-radius: 40px;
    margin-left: 20px;
    cursor: pointer;
  }

  .divnav ul button:hover{
    background-color: var(--clr-grey);
    color: var(--clr-offwhite);
  }

  .search-bar{
    flex: 1;
    max-width: 300px;
    background: var(--clr-white);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 20px;
  }

  .search-bar input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    font-size: var(--fs-sm);
    color: var(--clr-black);
  }

  .search-bar button:hover {
    color: var(--clr-grey);
}

  .search-bar button{
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--clr-black);
  }

/* Flash Messages */
.success {
  background: rgba(108, 192, 112, 0.7);
  color: #fff;
  width: 70%;
  margin: 0 auto 1rem auto;
  text-align: center;
  padding: 0.5rem 0;

}

.error {
  background: rgba(255, 102, 51, 0.7);
  color: #fff;
  width: 70%;
  margin: 0 auto 1rem auto;
  text-align: center;
  padding: 0.5rem 0;
}
  
/* Main*/

main{
  display: flex;
  flex-direction: column;
  flex: 1;
}

main h1{
  text-align: center;
  padding: 1rem;
  font-size: var(--fs-xxl);
}
  


main .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

main .logo img{
  width: 100%;
  height: 80%;
}

main .clothes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

main .clothes img{
  padding: 1rem;
  width: 50%;
  height: auto;

}

main .browse{
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

main .browse a{
  background-color: var(--clr-black);
  padding: 1rem 2rem;
  border-radius: 40px;
  color: var(--clr-white);
  border: none;
  background-color: var(--clr-black);
  cursor: pointer;
  
}

main .browse a i{
  margin-left: 10px;
}

main .browse a:hover{
  background-color: var(--clr-grey);
  color: var(--clr-black);
}



main .about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}


main .about p{
  margin-top: 1rem;
  font-size: var(--fs-md);
  text-align: center;
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding: 5rem;
}

main .about img{
  width: 80%;
  height: auto;
}

/* items main */

.item-main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey);
}

.item-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px; 
  
}

.item{
  width: 300px;
  background-color: var(--clr-offwhite);
  border-radius: 8px;
  box-shadow: 0px 3px 5px;
  margin: 20px;
  color: var(--clr-black);
  height: auto;
}

.item:hover{
  color: var(--clr-grey);
}

.item img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.item-content{
  padding: .5rem;
}

/* item main */

.item-details-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-details{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.item-details img{
  width: 40%;
  min-width: 300px;
  box-shadow: 0px 2px 4px;
}

.item-details-content{
  margin: 1rem;
}

.item-details-content button{
  padding: .5rem;
  border-radius: 20px;
  border: none;
  background-color: var(--clr-black);
  color: var(--clr-white);
  margin-top: 10px;
}

.item-details-content button:hover{
  background-color: var(--clr-grey);
  color: var(--clr-black);
  cursor: pointer;
}

/*new item main */

.new-item-main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/clothing-store.webp);
  background-size: 100% auto;
}

.new-item-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  border: 2px solid;
  backdrop-filter: blur(20px);
  box-shadow: 0px 2px 4px;
  border-radius: 10px;
  
}


.new-item-about p{
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.new-item-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.new-item-container form div{
  width: 100%;
  height: 40px;
  margin: 1rem;
  
}

.new-item-container form div input{
  width: 100%;
  height: 100%;
}

.new-item-container form .image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
  padding: .1rem;
}

.new-item-container form button{
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 30px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  cursor: pointer;
}

.new-item-container form button:hover{
  background-color: var(--clr-grey);
  color: var(--clr-black);
}

/*new user main */

.new-user-main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/streetwear-store.webp);
  background-size: 100% auto;
}

.new-user-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  border: 2px solid;
  backdrop-filter: blur(20px);
  box-shadow: 0px 2px 4px;
  border-radius: 10px;
  
}


.new-user-about h2{
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  text-align: center;
}

.new-user-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.new-user-container form div{
  width: 100%;
  height: 40px;
  margin: 1rem;
  
}

.new-user-container form div input{
  width: 100%;
  height: 100%;
}

.new-user-container form .image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
  padding: .1rem;
}

.new-user-container form button{
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 30px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  cursor: pointer;
}

.new-user-container form button:hover{
  background-color: var(--clr-grey);
  color: var(--clr-black);
}

/* Profile Page */

.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80%;
  max-width: 600px;
  padding: 20px;
}

.profile-main h1 {
  font-size: 24px;
  margin: 0;
  padding: 16px;
  background-color: #f0c040;
  color: black;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px 16px;
  text-align: left;
}

th {
  background-color: #f0c040;
  color: black;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ddd;
}

td:nth-child(1) a {
  color: #6a1b9a;
  text-decoration: none;
}

td:nth-child(2) p {
  margin: 0;
  padding: 0;
  color: #333;
}

td:nth-child(3) {
  display: flex;
  gap: 8px;
}

button {
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

button.edit {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 30px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  cursor: pointer;
}

button.edit:hover{
  background-color: var(--clr-grey);
  color: var(--clr-black);
}

button.delete {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 30px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  cursor: pointer;
}

button.delete:hover{
  background-color: var(--clr-grey);
  color: var(--clr-black);
}





/* Footer */

  footer {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-sm);
  }


  footer div:nth-child(1){
    display: flex;
    
  }

  footer div ul {
    list-style-type: none;
    display: flex;
  }
  
  footer div ul li {
    margin-bottom: 10px;
  }
  
  footer div i {
    font-size: 24px;
    margin-right: 10px;
  }

  
  /* Media Query for smaller screens */
  @media only screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
    
    .divnav{
      flex-direction: column;
    }

    .divnav ul{
      margin-top: 1rem;
      flex-direction: column;
      align-items: center;
    }

    .divnav ul li{
      margin-left: 0;
      margin-bottom: 10px;
    }

    .search-bar{
      width: 100%;
      margin: 10px 0;
    }

    .divnav ul button{
      margin-left: 0;
      margin-bottom: 10px;
    }

    .divnav ul{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    .item-details{
      flex-direction: column;
    }

    .new-item-container{
      flex-direction: column;
    }
  
    footer {
      flex-direction: column;
      align-items: center;
    }
  }
