<%- include('../views/partials/header.ejs')%>
    <!--Main-->
<main>
    <h1>WHERE THE OLD BECOMES THE NEW</h1>
    <div class="clothes">
        <img id= 'shirt' src="/images/pearlShirt.jpg" alt="pearlShirt">
        <img id="pants" src="/images/pearlPants.jpg" alt="pearlPants">   
    </div>
    <div class="browse">
        <a href="/items">Start Browsing<i class="fa-solid fa-arrow-right"></i></a>
    </div>
    <div class="about">   
        <img src="images/pearlLogo.jpeg" alt="pearlLogo"> 
        <p>Our company creates like New clothes from recycled clothes that we find from thrift stores and transforms it into one of pearl's finest.
            We also can take clothes submitted to us and we transform some of your favorite pieces!</p>
    </div>
</main>
<%- include('../views/partials/footer.ejs') %>
